# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("../output_data/weather_df.csv")
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Avarua,-21.21,-159.78,69.80,88,100,3.36,CK,1603823838
1,Provideniya,64.38,-173.30,28.98,96,97,4.52,RU,1603823840
2,Murgab,37.50,61.97,55.40,50,0,9.17,TM,1603823842
3,Geraldton,-28.77,114.60,60.80,77,40,8.05,AU,1603823844
4,Busselton,-33.65,115.33,60.01,74,66,9.78,AU,1603823846
...,...,...,...,...,...,...,...,...,...
511,Klyuchi,52.27,79.17,35.17,79,19,19.10,RU,1603825476
512,San Jose,37.34,-121.89,73.99,19,0,3.22,US,1603825407
513,Kaitangata,-46.28,169.85,42.80,89,12,2.13,NZ,1603824772
514,Ukiah,39.15,-123.21,75.99,25,1,3.36,US,1603825068
515,Clyde River,70.47,-68.59,14.00,61,75,6.93,CA,1603824933

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# config gmaps
gmaps.configure(api_key = g_key)

# locations variable to store lat and lng
locations = weather_df[["Lat", "Lng"]]

# use weight variable for Humidity
weight = weather_df["Humidity"]

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=weight,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the DataFrame to fit ideal weather conditions
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph
# Cloudiness equal to zero
# Drop rows that don't contain above

# new dataframe for specific weather
ideal_weather_df = weather_df.loc[(weather_df["Wind Speed"] <= 10) & (weather_df["Max Temp"] > 70) & (weather_df["Max Temp"] < 80) 
                                 & (weather_df["Cloudiness"] == 0)].dropna()


# cities with ideal weather dataframe
ideal_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
68,Quatre Cocos,-20.21,57.76,71.01,76,0,1.99,MU,1603823813
76,Khajuraho,24.85,79.93,71.78,34,0,0.98,IN,1603824115
104,Grand Gaube,-20.01,57.66,71.01,76,0,1.99,MU,1603823809
123,Belen,36.49,36.22,73.40,27,0,8.05,TR,1603824262
142,Bambous Virieux,-20.34,57.76,71.01,77,0,1.99,MU,1603824014
180,Kiryat Gat,31.61,34.76,78.01,100,0,4.90,IL,1603824425
191,Biu,10.61,12.19,76.78,30,0,3.49,NG,1603824475
226,Mocuba,-16.84,36.99,74.71,79,0,5.68,MZ,1603824584
241,Castro,-24.79,-50.01,77.40,41,0,7.61,BR,1603824632
341,Macaé,-22.37,-41.79,78.80,78,0,8.05,BR,1603824665
365,Mīnāb,27.15,57.08,71.60,73,0,6.93,IR,1603825018
387,San Quintín,30.48,-115.95,70.41,22,0,5.79,MX,1603824964
401,Koungou,-12.73,45.20,78.80,78,0,4.70,YT,1603825130
426,Mmabatho,-25.85,25.63,75.20,36,0,6.93,ZA,1603825209
458,Silvassa,20.27,73.02,75.38,59,0,3.44,IN,1603825310
468,Tonota,-21.48,27.48,77.00,27,0,5.82,BW,1603825342
480,Mungaoli,24.42,78.10,72.10,35,0,5.12,IN,1603825379
512,San Jose,37.34,-121.89,73.99,19,0,3.22,US,1603825407

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
# create hotel dataframe with city, country, latitude and longitude
hotel_df = pd.DataFrame(ideal_weather_df, columns=["City", "Country", "Lat", "Lng"])

# create Hotel Name column to populate
hotel_df["Hotel Name"] = ""

hotel_df

                City Country    Lat     Lng Hotel Name
68      Quatre Cocos      MU -20.21   57.76
76         Khajuraho      IN  24.85   79.93
104      Grand Gaube      MU -20.01   57.66
123            Belen      TR  36.49   36.22
142  Bambous Virieux      MU -20.34   57.76
180       Kiryat Gat      IL  31.61   34.76
191              Biu      NG  10.61   12.19
226           Mocuba      MZ -16.84   36.99
241           Castro      BR -24.79  -50.01
341            Macaé      BR -22.37  -41.79
365            Mīnāb      IR  27.15   57.08
387      San Quintín      MX  30.48 -115.95
401          Koungou      YT -12.73   45.20
426         Mmabatho      ZA -25.85   25.63
458         Silvassa      IN  20.27   73.02
468           Tonota      BW -21.48   27.48
480         Mungaoli      IN  24.42   78.10
512         San Jose      US  37.34 -121.89

In [11]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# parameters to search
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # add 2 second delay to api request
    #time.sleep(2)
    
# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 68: Quatre Cocos.
Closest hotel in Quatre Cocos is Shangri-La's Le Touessrok Resort & Spa.
------------
Retrieving Results for Index 76: Khajuraho.
Closest hotel in Khajuraho is SYNA Heritage Hotel - A Heritage Hotel in Khajuraho.
------------
Retrieving Results for Index 104: Grand Gaube.
Closest hotel in Grand Gaube is LUX Grand Gaube Resort & Villas.
------------
Retrieving Results for Index 123: Belen.
Closest hotel in Belen is Varlıbaş Uyku Sarayı.
------------
Retrieving Results for Index 142: Bambous Virieux.
Closest hotel in Bambous Virieux is Laguna Beach Hotel & Spa.
------------
Retrieving Results for Index 180: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
------------
Retrieving Results for Index 191: Biu.
Closest hotel in Biu is Biu Luxury Motel and Suites.
------------
Retrieving Results for Index 226: Mocuba.
Closest hotel in Mocuba is Pensão Venus.
------------
Retrieving Results for Index 241: Castro.
Closest hotel in Castro is Hotel Buganville Express.
------------
Retrieving Results for Index 341: Macaé.
Closest hotel in Macaé is Royal Macaé Palace Hotel.
------------
Retrieving Results for Index 365: Mīnāb.
Closest hotel in Mīnāb is Minab Tourism Hotel.
------------
Retrieving Results for Index 387: San Quintín.
Closest hotel in San Quintín is Old Mill Hotel.
------------
Retrieving Results for Index 401: Koungou.
Closest hotel in Koungou is Hôtel Restaurant Le Trévani.
------------
Retrieving Results for Index 426: Mmabatho.
Closest hotel in Mmabatho is Protea Hotel by Marriott Mahikeng.
------------
Retrieving Results for Index 458: Silvassa.
Closest hotel in Silvassa is VITS Kamats - Silvassa.
------------
Retrieving Results for Index 468: Tonota.
Missing field/result... skipping.
------------
Retrieving Results for Index 480: Mungaoli.
Closest hotel in Mungaoli is Amit Lodge.
------------
Retrieving Results for Index 512: San Jose.
Closest hotel in San Jose is Hotel Valencia Santana Row.
------------
-------End of Search-------

In [12]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
68,Quatre Cocos,MU,-20.21,57.76,Shangri-La's Le Touessrok Resort & Spa
76,Khajuraho,IN,24.85,79.93,SYNA Heritage Hotel - A Heritage Hotel in Khaj...
104,Grand Gaube,MU,-20.01,57.66,LUX Grand Gaube Resort & Villas
123,Belen,TR,36.49,36.22,Varlıbaş Uyku Sarayı
142,Bambous Virieux,MU,-20.34,57.76,Laguna Beach Hotel & Spa
180,Kiryat Gat,IL,31.61,34.76,Desert Gat
191,Biu,NG,10.61,12.19,Biu Luxury Motel and Suites
226,Mocuba,MZ,-16.84,36.99,Pensão Venus
241,Castro,BR,-24.79,-50.01,Hotel Buganville Express
341,Macaé,BR,-22.37,-41.79,Royal Macaé Palace Hotel
365,Mīnāb,IR,27.15,57.08,Minab Tourism Hotel
387,San Quintín,MX,30.48,-115.95,Old Mill Hotel
401,Koungou,YT,-12.73,45.20,Hôtel Restaurant Le Trévani
426,Mmabatho,ZA,-25.85,25.63,Protea Hotel by Marriott Mahikeng
458,Silvassa,IN,20.27,73.02,VITS Kamats - Silvassa
468,Tonota,BW,-21.48,27.48,
480,Mungaoli,IN,24.42,78.10,Amit Lodge
512,San Jose,US,37.34,-121.89,Hotel Valencia Santana Row

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))